

@-webkit-keyframes x-spin 
{
	/* Rotate the cylinder by 0 degrees around the x-axis at the start of the animation */
	0%    { -webkit-transform: rotateX(0deg); }
	/* Rotate the cylinder by 180 degrees around the x-axis at 50% into the animation */
	50%   { -webkit-transform: rotateX(180deg); }
	/* Rotate the cylinder by 180 degrees around the x-axis when the animation is ending */
	100%  { -webkit-transform: rotateX(360deg); }
}


/* Performs rotations around the y-axis in the counterclockwise direction */
@-webkit-keyframes y-spin
{
	/* Rotate this ring of the cylinder by 0 degrees around the y-axis at the start of the animation */
	0%    { -webkit-transform: rotateY(0deg); }
	/* Rotate this ring by 180 degrees around the y-axis at 50% into the animation */
	50%   { -webkit-transform: rotateY(180deg); }
	/* Rotate this ring by 360 degrees around the y-axis when the animation is ending */
	100%  { -webkit-transform: rotateY(360deg); }
}


/* Performs rotations around the y-axis in the clockwise direction */
@-webkit-keyframes back-y-spin 
{
	/* Rotate this ring by 360 degrees around the y-axis at the start of the animation */
	0%    { -webkit-transform: rotateY(360deg); }
	/* Rotate this ring by 180 degrees around the y-axis at 50% into the animation */
	50%   { -webkit-transform: rotateY(180deg); }
	/* Rotate this ring of the cylinder by 0 degrees around the y-axis when the animation is ending */
	100%  { -webkit-transform: rotateY(0deg); }
}


/* Spinner */

@-webkit-keyframes activity-indicator {
    from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }




