html {-webkit-touch-callout: none; -webkit-user-select: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}

body {
	margin: 0; 
	padding: 0; 
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 
	background: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	}

video {
	background: rgba(0,0,0,1);
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	-webkit-animation: fadein 2s;
    }

img {border: 1px solid white;}

a, a:link, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

ul {
	list-style-type: none;
	margin: 10px 0 0 10px;
	padding: 0;
}	
li {
	margin: 0 0 10px 0;
	padding: 0;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
 	-webkit-animation-timing-function: ease-in;
    }
    to {
        opacity:1;
 	-webkit-animation-timing-function: ease-out;
    }
}

/* Media Queries */


@media screen and (orientation:portrait) {
	img {max-height: 30%}
	}
	
@media screen and (orientation:landscape) {
	img {max-width: 32%}
	}



