
@-moz-document url(http://localhost:9091/transmission/web/) {
:root,
#footer_super_menu,
li.ui-menu-item,
div.ui-menu-item,
.ui-widget-content,
#statusbar,
div#toolbar,
#torrent_list .torrent,
div.torrent_footer,
#ul.torrent_list,
ul.torrent_list li.torrent div.torrent_name,
div#torrent_inspector,
div#torrent_inspector div.inspector_torrent_file_list_entry_name {
  color: CanvasText;
  background-color: Canvas;
  color-scheme: dark light;
}

#torrent_list .torrent {
  border-bottom: 1px solid #404040;
}

#torrent_list .selected {
  color: CanvasText;
  background-color: grey;
  color-scheme: light dark;
}

div.torrent_footer {
  border-top: 1px solid #404040;
  background-image: none;
}

div#toolbar {
  border-bottom: 1px solid #404040;
  background-image: none;
}

#statusbar {
  border-bottom: 1px solid #404040;
  background-image: none;
}

div#torrent_inspector {
  border-left: 1px solid #404040;
}
}
