[Unit]
Description=Music Player Daemon
After=network.target sound.target

[Service]
#EnvironmentFile=/etc/default/mpd
ExecStart=/usr/bin/mpd --no-daemon /home/djwilcox/.mpd.conf

# allow MPD to use real-time priority 50
LimitRTPRIO=50
LimitRTTIME=infinity

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

[Install]
WantedBy=multi-user.target
Also=mpd.socket
