[Desktop Entry]
Actions=new-private-window;new-window;profile-manager-window
Categories=Network;WebBrowser
Exec=/run/wrappers/bin/doas /home/djwilcox/bin/namespace firefox %U
GenericName=Web Browser
Icon=firefox
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;x-scheme-handler/http;x-scheme-handler/https
Name=Firefox-VPN
StartupNotify=true
Terminal=false
Type=Application
Version=1.4

[Desktop Action new-private-window]
Exec=/run/wrappers/bin/doas /home/djwilcox/bin/namespace firefox --private-window %U
Name=New Private Window

[Desktop Action new-window]
Exec=/run/wrappers/bin/doas /home/djwilcox/bin/namespace firefox --new-window %U
Name=New Window

[Desktop Action profile-manager-window]
Exec=/run/wrappers/bin/doas /home/djwilcox/bin/namespace firefox --ProfileManager
Name=Profile Manager
